/* Globals */

$border-color: #ccc;

/* Drag & Drop */

.drop-zone {
  border: 1px solid $border-color;
  padding: 10px;
  background-color: #eee;
  border-radius: 10px;
  /* display: flex;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  flex-direction: column;
  height: 100%;*/
}

.drop-zone-header {
  border-bottom: 1px solid $border-color;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.drop-zone-title {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.drop-zone-body {
  max-height: unquote("calc(100vh - 120px)");
  overflow-y: auto;
  overflow-x: clip;
}

/* Color Input */

.color-input input {
  width: 25px;
  height: 25px;
  padding: 0;
}

/* Flex */

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* Small Card */

$small-card-padding: 15px;

.small-card {

  padding: 0;

  .card-header {
    padding: $small-card-padding - 5px {
      bottom: 0;
    };
  }

  .card-title {
    width: 100%;
    font-size: 1rem;
  }

  .card-title > .flex {
    justify-content: space-between;
  }

  .card-body {
    padding: $small-card-padding {
      top: 0;
    }

  }

  .form-group {
    margin-bottom: 0;
    max-width: 80%;
  }

  .selectize-control {
    margin: 5px {
      bottom: 0;
    }
  }

  .badge {
    cursor: pointer;
  }
}

/* Distribution Parameters */

.distribution-param {
  padding-right: 10px;
}

/* Badge */

.badge {
  display: inline !important;
  padding: .3em .4em !important;
  font-size: 75% !important;
  font-weight: 700 !important;
  line-height: 1 !important;
  text-align: center !important;
  white-space: nowrap !important;
  vertical-align: middle !important;
  border-radius: .25em !important;
  background-color: $border-color;
}
