/* Globals */

$border-color: #ccc;
$spacing: 5px;

/* Drag & Drop */

.drop-zone {
  border: 1px solid $border-color;
  padding: 10px;
  background-color: #eee;
  border-radius: 10px;
  /* display: flex;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  flex-direction: column;
  height: 100%;*/
}

.drop-zone-header {
  border-bottom: 1px solid $border-color;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.drop-zone-title {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.drop-zone-body {
  max-height: unquote("calc(100vh - 120px)");
  overflow-y: auto;
  overflow-x: clip;
}

/* Color Input */

.color-input input {
  width: 25px;
  height: 25px;
  padding: 0;
}

/* Flex */

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* Distribution Box */
.distribution-box {
  padding: $spacing;
  margin-bottom: $spacing;
  border: 1px solid $border-color;
  border-radius: $spacing;

  .badge {
    cursor: pointer;
  }
}

/* Badges */

.badge {
  background-color: $border-color;
  margin: 0 5px;
}

.badge-lg {
  font-size: 90%;
}
